annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
cachier==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "4.0"
construct==2.10.70 ; python_version >= "3.10" and python_version < "4.0"
gnupg==2.3.1 ; python_version >= "3.10" and python_version < "4.0"
lxml==5.3.0 ; python_version >= "3.10" and python_version < "4.0"
portalocker==2.10.1 ; python_version >= "3.10" and python_version < "4.0"
psutil==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.10" and python_version < "4.0"
pycryptodomex==3.21.0 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.23.4 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.9.2 ; python_version >= "3.10" and python_version < "4.0"
pyfiglet==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
pykeepass==4.1.0.post1 ; python_version >= "3.10" and python_version < "4.0"
pywin32==308 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
watchdog==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
